@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

:root {
    --bpl-dashboard-primary-color: #146ef5;
    --bpl-dashboard-primary-color-rgb: 20, 110, 245;
    --bpl-dashboard-title-color: #070127;
    --bpl-dashboard-title-color-rgb: 7, 1, 39;
    --bpl-dashboard-content-color: #1b2e4b;
    --bpl-dashboard-content-color-rgb: 27, 46, 75;
}
